:root {
    --sigred:  rgb(182, 53, 53);
    --darkred:  rgb(131, 37, 37);
    --turk:  rgb(56, 168, 140);
}

body {
    background: rgb(32,34,34);
    background: radial-gradient(circle, rgba(32,34,34,1) 8%, rgba(0,0,0,1) 100%);
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

#navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Verdana;
    position: fixed;
    padding-bottom: 1%;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
}

#logo {
    max-width: 100%;
    height: auto;
    padding: 0 5px 5px 5px;
}

.navitem {
    margin: 10px;
    padding: 1% 2%;
    background-color: white;
    transform: skewX(15deg);
    align-self: flex-end;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.navitem:hover {
    background-color: var(--sigred);
    animation-name: pump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes pump {
    50% {
        transform: skewX(10deg) scale(1.05);
    }
}

.navlink {
    display: block;
    transform: skewX(-20deg);
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.navlink:hover {
    color: black;
}

#titlesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 10vw;
    margin: 0;
    color: var(--turk);
}

h2 {
    color:silver;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.video {
    width: 50%;
    height: 50%;
}

@media (max-width: 1000px){
    #content {
        width: 95%;
        padding-top: 100px;
    }
}

@media (max-width: 600px){
    #logo {
        width: 105px;
    }

    .video {
        width: 50vh;
        height: 50vw;
    }
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

label {
    padding: 2vh;
    margin: 10px;
}

input {
    width: 100%;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    color: white;
}

input:focus {
    outline: none;
    border: 2px solid var(--sigred);
    color: var(--sigred);
}

.button {
    border: 0;
    color: white;
    background-image: linear-gradient(to bottom, var(--sigred),var(--darkred));
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(to top, var(--sigred),var(--darkred));
    cursor: pointer;
}

#footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
}